ENVIRONMENT=development

# JWT (тестовые ключи или реальные dev-ключи — можно сгенерировать)
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC...\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----"
JWT_ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=14

# Email
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_EMAIL=no-reply@dev.local

# PostgreSQL
POSTGRES_HOST=auth-postgres-dev
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password          # ← обязательно измени в проде!
POSTGRES_DB=db
APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@auth-postgres-dev:5432/db

# Используется для подключение к бд (например миграции алембик) с хоста

# APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5433/db

# Redis
REDIS_HOST=auth-redis-dev
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=dev_redis_password_1488_228  # любой пароль, лишь бы был

APP_CONFIG__REDIS__URL=REDIS_URL=redis://:dev_redis_password_1488_228@auth-redis-dev:6379/0

APP_CONFIG__REDIS__MAX_CONNECTIONS=20

# Rate Limit

APP_CONFIG__RL__REGISTER_EMAIL_WINDOW_SECONDS=3600
APP_CONFIG__RL__REGISTER_EMAIL_LIMIT=10

APP_CONFIG__RL__LOGIN_EMAIL_WINDOW_SECONDS=600
APP_CONFIG__RL__LOGIN_EMAIL_LIMIT=10

APP_CONFIG__RL__RESEND_CODE_COOLDOWN_SECONDS=55



# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=supersecretpgadmin

# Verification code
APP_CONFIG__EMAIL_CODE__MAX_ATTEMPTS=5    # количество попыток ввести правильно код
APP_CONFIG__EMAIL_CODE__TTL_SECONDS=1800     # время жизни записи в редис с кодом в секундах
